body {
    text-align: center;
}

.wrapper{
    text-align: center;
    padding-top: 6.5em;
}

.Author{
	text-align: center;
}
#table_1{ max-width: 600px;
margin-left: auto; 
margin-right: auto;
vertical-align: middle;
display: inline-block;
text-align: center;
}
#Title{
	max-width: 200px;
}
#Mirror{
	word-break: break-all;

}


td a{
	display: block;
	width: 100%;
}

.navbar {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.header {
  display: flex;
  background: rgba(69, 54, 54, 0.3);
}

.header-link {
  margin: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #FEFEFE;
}

